/* Custom CSS styles */

@font-face {
  font-family: SGSTIX;
  src: url('fonts/STIX2Text-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SGSTIX;
  src: url('fonts/STIX2Text-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: SGSTIX;
  src: url('fonts/STIX2Text-Italic.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: SGSTIX;
  src: url('fonts/STIX2Text-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: SGSTIX, serif;
  color: #000000;
  font-size: 1.8em;
}

.row {flex-wrap: wrap}

#nav-toc {
  flex-basis: 25%;
  padding-bottom: 4em;
}

#title {
    flex-basis: 100%;
    padding-bottom: 4em;
}

#aux-content-1, #aux-content-2 {
    flex-basis: 100%;
    min-width: 0;
}

#aux-content-3 {
    flex-basis: 75%;
    min-width: 0;
}

@media (min-width: 40rem) {
  .row {
    flex-direction: column;
    margin-left: unset;
    width: 100%;
  }
  .row .column {
    margin-bottom: unset;
    padding: unset; 
  }
}

@media (min-width: 60rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }
  .row .column {
    margin-bottom: unset;
    padding: 0 1.0rem;
  }
  #nav-toc {
    font-size: 1.6rem;
  }
  #nav-toc ul {
    border-right: 1px solid lightgray;
    padding-right: 0.2em;
    hyphens: auto;
  }

}
